sentence-transformers
huggingface_hub==0.20.3
flask
pypdf
langchain
python-dotenv
pinecone[grpc]
langchain-community
langchain-openai
langchain_experimental
langchain-pinecone
uvicorn
fastapi
azure-ai-inference
-e .
